h1 {
white-space: nowrap;
font-size: 2.2rem;
}

h4 {
color: #000000;
}

.redform {
color: #ff0000;
}

.0form {
margin-left: auto;
margin-right: auto;
}

a {
color: #f000f0;
}

.aform {
margin-left: auto;
margin-right: auto;
max-width: 450px;
background-color: #ccccff;
border: 1px solid gray;
border-radius: 5px;
padding: 10px;
}

.bform {
display: inline-block;
margin-left: auto;
margin-right: auto;
max-width: 500px;
background-color: #ccccff;
border: 1px solid gray;
border-radius: 5px;
padding: 10px;
}

.auto_answer ul{
list-style: none;
padding-top: 10px;
}

.auto_answer ul li {
font-size: 22px;
}

.line {
display: inline;
}

.tdm1 {
text-align: center;
border: 3px solid black;
width: 25%;
font-weight: 600;
}

.tdm2 {
border: 3px solid #666666;
width: 25%;
font-weight: 600;
}

.table1 {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table1 th,
.table1 td {
  padding: 0.75rem;
  vertical-align: top;
}

.table1 thead th {
  vertical-align: bottom;
}

.table1 tbody + tbody {
}

.bform {max-width: 100%;
}

.form-inline .form-control {
    display: inline-block;
    flex-flow: none;
    max-width: 33%;
    vertical-align: middle;
}

.form-inline {
    flex-flow: nowrap;
}

.btn-secondary {
font-weight: 600;
}

.txtm {
font-size: 12px;
color: #999999;
}

.txtt {
font-size: 24px;
text-align: center;
}

.txtx {
font-size: 30px;
text-align: center;
}

.txtb {
border-top: 3px solid black;
}

.comp {
white-space: nowrap;
display: inline-block;
}