{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-12" align="center">
    <div class="bform">
        <h4>Дата рождения(дд мм гггг):</h4>
        <form action="/matriс" method="post">
            {{ form.csrf_token }}
            <p class="form-inline">
                {{ form.datee(class="form-control") }}
                {{ form.monthe(class="form-control") }}
                {{ form.agee(class="form-control") }}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        </form>
        <div class="redform">{{ message }}</div>
    </div>
    <table class="table1">
        <tbody>
        <tr >
            <td class="tdm1">
                Характер<br>
                {{ matr['char'] }}
            </td>
            <td class="tdm1">
                Здоровье<br>
                {{ matr['heal'] }}
            </td>
            <td class="tdm1">
                Удача<br>
                {{ matr['luck'] }}
            </td>
            <td class="tdm2" align="center">
                Цель<br>
                {{ matr['purp'] }}
            </td>
        </tr>
        <tr>
            <td class="tdm1">
                Энергия<br>
                {{ matr['power'] }}
            </td>
            <td class="tdm1">
                Логика<br>
                {{ matr['logic'] }}
            </td>
            <td class="tdm1">
                Долг<br>
                {{ matr['debt'] }}
            </td>
            <td class="tdm2" align="center">
                Семья<br>
                {{ matr['famil'] }}
            </td>
        </tr>
        <tr>
            <td class="tdm1">
                Интерес<br>
                {{ matr['intr'] }}
            </td>
            <td class="tdm1">
                Труд<br>
                {{ matr['work'] }}
            </td>
            <td class="tdm1">
                Память<br>
                {{ matr['mind'] }}
            </td>
            <td class="tdm2" align="center">
                Привычки<br>
                {{ matr['habit'] }}
            </td>
        </tr>
        <tr>
            <td class="tdm2" align="center">
                Темперамент<br>
                {{ matr['temp'] }}
            </td>
            <td class="tdm2" align="center">
                Быт<br>
                {{ matr['mofl'] }}
            </td>
            <td class="tdm2" align="center" colspan="2">
                Число судьбы<br>
                {{ matr['nofl'] }}
            </td>
        </tr>
        </tbody>
    </table>
    {% if current_user.is_authenticated %}
    <a class="btn btn-success" href="/matriсharacter">Получить персональную характеристку</a>
    {% else %}
    <div class="bform" align="center">
        <label>Вы можете получить психологический портрет по кнопке вверху,<br>а также авторизироваться, чтобы получить характеристику по персональной матрице!</label> <br>
        <p><a href="http://secretbirthday.tilda.ws/" class="btn btn-primary">Выбрать услуги</a></p>
        <a class="btn btn-success" href="https://instagram.com/secret__birthday?igshid=pm4mt3odl0m9">Ссылка на мой инстаграмм</a><br>
        <label>@secret__birthday</label>
    </div>
    {% endif %}
    {% if char %}
    <div>
        <table class="table1">
            <tbody>
            <tr>
                <td>
                    {% if char[0] %}
                    {{ matr['char'] }}: {{ char[0] }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {% if char[1] %}
                    {{ matr['power'] }}: {{ char[1] }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {% if char[2] %}
                    {{ matr['intr'] }}: {{ char[2] }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {% if char[3] %}
                    {{ matr['heal'] }}: {{ char[3] }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {% if char[4] %}
                    {{ matr['logic'] }}: {{ char[4] }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {% if char[5] %}
                    {{ matr['work'] }}: {{ char[5] }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {% if char[6] %}
                    {{ matr['luck'] }}: {{ char[6] }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {% if char[7] %}
                    {{ matr['debt'] }}: {{ char[7] }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {% if char[8] %}
                    {{ matr['mind'] }}: {{ char[8] }}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="bform" align="center">
        <label>Чтобы получить полную характеристику по персональной матрице с пояснениями вы можете обратиться за личной консультацией!</label> <br>
        <p><a href="http://secretbirthday.tilda.ws/" class="btn btn-primary">Выбрать услуги</a></p>
        <a class="btn btn-success" href="https://instagram.com/secret__birthday?igshid=pm4mt3odl0m9">Ссылка на мой инстаграмм</a><br>
        <label>@secret__birthday</label>
    </div>
    {% endif %}
</div>
</div>
</div>
{% endblock %}